iframe {
	border: 20px;
	border-radius: 20px;
	overflow: hidden;
	margin: 20px;
	width: auto;
	height: auto;
	border: 10px solid #324fce;
	border-radius: 20px;
}
body {
	background-color: #142079;
}
img {
	border: 20px;
	border-radius: 20px;
	overflow: hidden;
	margin: 20px;
	transition: transform 0.3s;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Segoe UI", "Verdana", sans-serif;
	padding: 10px;
}
a {
	transition: transform 0.3s;
}
a, img:hover {
	transform: scale(1.05);
}
button {
	border-color: cyan;
    background-color: #000064;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
	border-radius: 25px;
	margin: 10px;
}
.text-align {
	text-align: center;
}
textarea {
    background-color: #d6ffb0; /* soft lime green */
    color: #212121; /* dark text */
    font-family: 'Fira Mono', 'Consolas', 'Menlo', 'Monaco', monospace;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #b5e67d;
}
