@font-face {
    font-family: 'DG Symbols';
    src: url('../dg-symbols-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.symbolsfont {
    font-family: 'DG Symbols', sans-serif;
}
