@import url("https://idiotspeed.neocities.org/style.css");
@import url("https://doggodgcodes.github.io/style.css");
@import "fontpack.css";
@import "dg-dingus.css";
@import "dg-moonrunes.css";
@import "dg-symbols.css";
@import "pusab.css";
@import "segoe.css";
