/* IE7-friendly CSS */
body {
  background-color: #142079;
  font-family: Verdana, Arial, sans-serif;
  color: #fff;
  padding: 10px;
}

#image-grid img {
  float: left;
  margin: 5px;
  border: 1px solid #000;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 5px 0;
}

a {
  color: #ffcc00;
  text-decoration: none;
}

a:hover {
  color: #d48101;
}

textarea {
  font-family: monospace;
}

footer {
  clear: both;
}
