$grey: #919191;
$dark-grey: #262c3c;
$radius: 20px;

body {
  background-color: $grey; /* For browsers that do not support gradients */
  background-image: linear-gradient(to left, $grey, $dark-grey);
}
button {
  background-color: $grey; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, $grey, $dark-grey);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
button:active {
  background-color: $grey; /* For browsers that do not support gradients */
  background-image: linear-gradient(to top, $grey, $dark-grey);
}
