:root {
  --margin: 25px;
  --wh: 128px;
}
body {
  font-family: "Segoe UI", sans-serif;
  align-content: center;
  margin-bottom: var(--margin);
}
.profile {
  border-radius: var(--margin);
  width: var(--wh);
  height: var(--wh);
}
h1,.profile {
  margin: var(--margin);
}
